<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mapthegraph"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.FINE_LOCATION"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Tabs"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="FriendLocator"></activity>
        <activity android:name="Map"></activity>
        <activity android:name="UpdatesFeed"></activity>
        <activity android:name="FBConnect"></activity>
        <activity android:name="FirstTime"></activity>
        <activity android:name="NewUser"></activity>
        <activity android:name="SigninScreen"></activity>
        <activity android:name="ShareLocation"></activity>
        <activity android:name="StartController"></activity>
        <activity android:name="FBConnect"></activity>
        <activity android:name="UserProfile"></activity>

	<uses-library android:name="com.google.android.maps"/>
    </application>
</manifest>